<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/destination.css">
    <title>Festination INFORMATION</title>
  </head>
  <body>
    <div class="userprofile">
      <!-- insert font awesome shopping bag -->
    </div>
    <div class="header">
      destination name...
    </div>
    <div class="wrapper">
      <div>
          <%= activities.city %>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam praesentium repellat ex saepe ipsa, sunt fuga odio ipsam veniam!
        <img src="#" alt="">
        <!-- insert font awesome- heart -->
      </div>
      <div>
        <img src="" alt="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias maiores quasi adipisci dolores nisi officiis aperiam aliquid, eum obcaecati repellendus.
      </div>
      <div>
        <img src="" alt="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio est enim obcaecati totam modi soluta iste quam rem unde possimus.
      </div>
      </div>
  </body>
</html>
