<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/destination.css">
    <title>Festination INFORMATION</title>
  </head>
  <body>
    <div class="userprofile">
        <!-- hey you... can you see me -->
      <!-- user profile icon... -->
      <!-- insert font awesome shopping bag -->
    </div>
    <div class="header">
      destination name...
    </div>
    <div class="wrapper">
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut vel corrupti enim eveniet praesentium soluta aliquam, facere tempora! Eum quasi velit, consequatur maxime voluptates tenetur molestiae dolorem, pariatur obcaecati. In.
        <img src="#" alt="">
        <!-- insert font awesome- heart -->
      </div>
    </div>
      <div>
        <img src="" alt="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis sint sunt, accusamus maxime quisquam, odit nobis quae. Ipsum, expedita enim.
      </div>
      <div>
        <img src="" alt="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, tempore.
      </div>
  </body>
</html>
