<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/destination.css">
<<<<<<< HEAD
    <title>Your Surprise Destionation</title>
=======
    <title>Festination INFORMATION</title>
>>>>>>> 464f2a499d6fbdbeaa9110ecb454eca4831b35ec
  </head>
  <body>
    <div>
      <p class="welcome">Welcome back</p>
      <img class="userpic"src="" alt="">
      <span>Name</span>
    </div>
    <div class="userprofile">
<<<<<<< HEAD
      <form class="" action="/favorites" method="get">
        <button class="savedflight"type="submit" name="button">Saved Flights</button>
      </form>
=======
>>>>>>> 464f2a499d6fbdbeaa9110ecb454eca4831b35ec
      <!-- insert font awesome shopping bag -->
    </div>

    <div class="header">
      <p>destination name...</p>

    </div>
    <div class="wrapper">
      <div>
<<<<<<< HEAD
          <h2>flight info</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam praesentium repellat ex saepe ipsa, sunt fuga odio ipsam veniam!</p>
              <img src="#" alt="">
              <ul>
                <li></li>
              </ul>
=======
          <%= activities.city %>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam praesentium repellat ex saepe ipsa, sunt fuga odio ipsam veniam!
        <img src="#" alt="">
>>>>>>> 464f2a499d6fbdbeaa9110ecb454eca4831b35ec
        <!-- insert font awesome- heart -->
      </div>
      <div>
        <h2>Hotel Accommodation</h2>
        <link rel="stylesheet" href="/css/master.css">
        <img src="" alt="">
<<<<<<< HEAD
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias maiores quasi adipisci dolores nisi officiis aperiam aliquid, eum obcaecati repellendus.</p>
        <ul>
          <li></li>
        </ul>
=======
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias maiores quasi adipisci dolores nisi officiis aperiam aliquid, eum obcaecati repellendus.
>>>>>>> 464f2a499d6fbdbeaa9110ecb454eca4831b35ec
      </div>
      <div>
        <h2>Activities</h2>
        <img src="" alt="">
<<<<<<< HEAD
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio est enim obcaecati totam modi soluta iste quam rem unde possimus.</p>
        <ul>
          <li></li>
        </ul>
=======
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio est enim obcaecati totam modi soluta iste quam rem unde possimus.
>>>>>>> 464f2a499d6fbdbeaa9110ecb454eca4831b35ec
      </div>
      </div>
  </body>
</html>
