<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/favorites.css">
    <title>FlyME</title>
  </head>
  <body>
      <p class="welcome">Hi, again! </p>
      <img class="userpic"src="" alt="">
      <span>Name</span>

      <div class="wrapper">
        <div>
            <h2>Saved Flights</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam praesentium repellat ex saepe ipsa, sunt fuga odio ipsam veniam!</p>
                <img src="#" alt="">
                <ul>
                  <li></li>
                </ul>
        </div>
        <div>
          <h2>Saved Hotel Accommodation</h2>
          <link rel="stylesheet" href="/css/master.css">
          <img src="" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias maiores quasi adipisci dolores nisi officiis aperiam aliquid, eum obcaecati repellendus.</p>
          <ul>
            <li></li>
          </ul>
        </div>
        <div>
          <h2>Saved Activities</h2>
          <img src="" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio est enim obcaecati totam modi soluta iste quam rem unde possimus.</p>
          <ul>
            <li></li>
          </ul>
        </div>
        </div>
    <script src="main.js"></script>
  </body>
</html>
