<!doctype html>
<html>
<head>
  <title></title>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>


  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

      <h2>Let us take you away</h2>
      <!-- Search -->

            <% if (user.local.email) { %>
                <form class="" action="/activities" method="post">
                  <input type="text" name="city" value="" placeholder="city" required="required">
                    <input type="text" name="departure" class="search_input search_input_2" placeholder="Departure" xrequired="required">
                    <input type="text" name="arrival" class="search_input search_input_3" placeholder="Arrival" xrequired="required">
                    <input type="text" name="budget" class="search_input search_input_4" placeholder="Budget" xrequired="required">
                    <button class="home_search_button" type="submit">search</button>
                  </form>
      <!-- LOCAL INFORMATION -->
        <% } %>
  </script>
  <script src="main.js"></script>
</body>
</html>
